In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
path= r'C:\Users\13472\Documents\Task 6'

In [5]:
df_cacao= pd.read_csv(os.path.join(path,'01. Original data','flavors_of_cacao- U.E.csv'), index_col = False)

# Exploring Data

In [7]:
df_cacao.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [8]:
df_cacao.tail()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [11]:
df_cacao.shape

(1795, 9)

In [18]:
df_cacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1794 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [19]:
df_cacao.dtypes

Company \n(Maker-if known)            object
Specific Bean Origin\nor Bar Name     object
REF                                    int64
Review\nDate                           int64
Cocoa\nPercent                        object
Company\nLocation                     object
Rating                               float64
Bean\nType                            object
Broad Bean\nOrigin                    object
dtype: object

# Data Cleaning

In [28]:
# Renaming Columns
df_cacao.rename(columns = { 'Company\xa0\n(Maker-if known)':"Company_Name",
                            'Specific Bean Origin\nor Bar Name':"Bar Origin",
                            'REF':"Ref",
                            'Review\nDate':"Review_Date",
                            'Cocoa\nPercent':"Cocoa_Percentage",
                            'Company\nLocation':"Company_Location",
                            'Rating': "Rating",
                            'Bean\nType': "Bean_Type",
                            'Broad Bean\nOrigin': "Bean_Origin"}, inplace = True)

In [29]:
df_cacao.columns

Index(['Company_Name', ' Bar Origin', 'Ref', 'Review_Date', 'Cocoa_Percentage',
       ' Company_Location', 'Rating', 'Bean_Type', 'Bean_Origin'],
      dtype='object')

In [30]:
df_cacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company_Name       1795 non-null   object
 1    Bar Origin        1795 non-null   object
 2   Ref                1795 non-null   int64
 3   Review_Date        1795 non-null   int64
 4   Cocoa_Percentage   1795 non-null   object
 5    Company_Location  1795 non-null   object
 6   Rating             1795 non-null   float64
 7   Bean_Type          1794 non-null   object
 8   Bean_Origin        1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

# Describing Data

In [31]:
df_cacao.describe( include = 'all')

,Company_Name,Bar Origin,Ref,Review_Date,Cocoa_Percentage,Company_Location,Rating,Bean_Type,Bean_Origin
count,1795,1795,1795.000000,1795.000000,1795,1795,1795.000000,1794,1794
unique,416,1039,NaN,NaN,45,60,NaN,41,100
top,Soma,Madagascar,NaN,NaN,70%,U.S.A.,NaN,,Venezuela
freq,47,57,NaN,NaN,672,764,NaN,887,214
mean,NaN,NaN,1035.904735,2012.325348,NaN,NaN,3.185933,NaN,NaN
std,NaN,NaN,552.886365,2.927210,NaN,NaN,0.478062,NaN,NaN
min,NaN,NaN,5.000000,2006.000000,NaN,NaN,1.000000,NaN,NaN
25%,NaN,NaN,576.000000,2010.000000,NaN,NaN,2.875000,NaN,NaN
50%,NaN,NaN,1069.000000,2013.000000,NaN,NaN,3.250000,NaN,NaN
75%,NaN,NaN,1502.000000,2015.000000,NaN,NaN,3.500000,NaN,NaN
max,NaN,NaN,1952.000000,2017.000000,NaN,NaN,5.000000,NaN,NaN

In [32]:
df_cacao['Bean_Type'].unique()

array(['\xa0', 'Criollo', 'Trinitario', 'Forastero (Arriba)', 'Forastero',
       'Forastero (Nacional)', 'Criollo, Trinitario',
       'Criollo (Porcelana)', 'Blend', 'Trinitario (85% Criollo)',
       'Forastero (Catongo)', 'Forastero (Parazinho)',
       'Trinitario, Criollo', 'CCN51', 'Criollo (Ocumare)', 'Nacional',
       'Criollo (Ocumare 61)', 'Criollo (Ocumare 77)',
       'Criollo (Ocumare 67)', 'Criollo (Wild)', 'Beniano', 'Amazon mix',
       'Trinitario, Forastero', 'Forastero (Arriba) ASS', 'Criollo, +',
       'Amazon', 'Amazon, ICS', 'EET', 'Blend-Forastero,Criollo',
       'Trinitario (Scavina)', 'Criollo, Forastero', 'Matina',
       'Forastero(Arriba, CCN)', 'Nacional (Arriba)',
       'Forastero (Arriba) ASSS', 'Forastero, Trinitario',
       'Forastero (Amelonado)', nan, 'Trinitario, Nacional',
       'Trinitario (Amelonado)', 'Trinitario, TCGA', 'Criollo (Amarru)'],
      dtype=object)

Since'\xa0' is an improper value we are going to replace it with NaN

In [33]:
df_cacao = df_cacao.replace(u'\xa0', np.NaN)

# Checking for Duplicates

In [34]:
df_cacao[df_cacao.duplicated()]

Empty DataFrame
Columns: [Company_Name,  Bar Origin, Ref, Review_Date, Cocoa_Percentage,  Company_Location, Rating, Bean_Type, Bean_Origin]
Index: []

There are no duplicated values

# Checking for Missing Values

In [35]:
df_cacao.isnull().sum()

Company_Name           0
 Bar Origin            0
Ref                    0
Review_Date            0
Cocoa_Percentage       0
 Company_Location      0
Rating                 0
Bean_Type            888
Bean_Origin           74
dtype: int64

In [36]:
# Percentage of Missing Values
Percentage_Missing= df_cacao.isnull().sum()/len(df_cacao)

In [37]:
Percentage_Missing

Company_Name         0.000000
 Bar Origin          0.000000
Ref                  0.000000
Review_Date          0.000000
Cocoa_Percentage     0.000000
 Company_Location    0.000000
Rating               0.000000
Bean_Type            0.494708
Bean_Origin          0.041226
dtype: float64

Since Bean_Type has 49% of it data missing, the column will be dropped

# Dropping Columns

In [38]:
df_cacao = df_cacao.drop('Bean_Type', axis= 1)
df_cacao.isnull().sum()

Company_Name          0
 Bar Origin           0
Ref                   0
Review_Date           0
Cocoa_Percentage      0
 Company_Location     0
Rating                0
Bean_Origin          74
dtype: int64

In [39]:
# Since Bean_Orgin has 4% missing, those columns will be dropped
# Checking if Mixed data type
for col in df_cacao.columns.tolist():
    weird = (df_cacao[[col]].applymap(type) != df_cacao[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_cacao[weird]) > 0:
        print (col)

Bean_Origin

In [40]:
# Changing Mixed Data to a string
df_cacao['Bean_Origin'] = df_cacao['Bean_Origin'].astype('str')

In [41]:
df_cacao_cleaned = df_cacao.dropna(axis=0)
df_cacao_cleaned.isnull().sum()

Company_Name         0
 Bar Origin          0
Ref                  0
Review_Date          0
Cocoa_Percentage     0
 Company_Location    0
Rating               0
Bean_Origin          0
dtype: int64

No Null Values

In [42]:
df_cacao_cleaned.shape

(1795, 8)

In [46]:
df_cacao_cleaned[' Company_Location'].unique()

array(['France', 'U.S.A.', 'Fiji', 'Ecuador', 'Mexico', 'Switzerland',
       'Netherlands', 'Spain', 'Peru', 'Canada', 'Italy', 'Brazil',
       'U.K.', 'Australia', 'Wales', 'Belgium', 'Germany', 'Russia',
       'Puerto Rico', 'Venezuela', 'Colombia', 'Japan', 'New Zealand',
       'Costa Rica', 'South Korea', 'Amsterdam', 'Scotland', 'Martinique',
       'Sao Tome', 'Argentina', 'Guatemala', 'South Africa', 'Bolivia',
       'St. Lucia', 'Portugal', 'Singapore', 'Denmark', 'Vietnam',
       'Grenada', 'Israel', 'India', 'Czech Republic',
       'Domincan Republic', 'Finland', 'Madagascar', 'Philippines',
       'Sweden', 'Poland', 'Austria', 'Honduras', 'Nicaragua',
       'Lithuania', 'Niacragua', 'Chile', 'Ghana', 'Iceland', 'Eucador',
       'Hungary', 'Suriname', 'Ireland'], dtype=object)

In [50]:
# Changing abbreviations to full names and fixing typos
df_cacao_cleaned[' Company_Location']= df_cacao_cleaned[' Company_Location'].replace('Eucador', 'Ecuador')\
                                                                            .replace('U.S.A.', 'United States of America')\
                                                                            .replace('U.K.', 'United Kingdom')\
                                                                            .replace('Domincan Republic', 'Dominican Republic')\
                                                                            .replace('Niacragua', 'Nicaragua')

In [51]:
#  Checking Names
df_cacao_cleaned[' Company_Location'].value_counts()

United States of America    764
France                      156
Canada                      125
United Kingdom               96
Italy                        63
Ecuador                      55
Australia                    49
Belgium                      40
Switzerland                  38
Germany                      35
Austria                      26
Spain                        25
Colombia                     23
Hungary                      22
Venezuela                    20
Brazil                       17
Madagascar                   17
Peru                         17
Japan                        17
New Zealand                  17
Denmark                      15
Vietnam                      11
Scotland                     10
Guatemala                    10
Israel                        9
Argentina                     9
Costa Rica                    9
Poland                        8
Lithuania                     6
Nicaragua                     6
Honduras                      6
Dominican Republic            5
South Korea                   5
Sweden                        5
Netherlands                   4
Fiji                          4
Mexico                        4
Amsterdam                     4
Ireland                       4
Puerto Rico                   4
Sao Tome                      4
Iceland                       3
South Africa                  3
Singapore                     3
Grenada                       3
Portugal                      3
Finland                       2
St. Lucia                     2
Bolivia                       2
Chile                         2
Philippines                   1
Russia                        1
Wales                         1
Martinique                    1
Ghana                         1
Czech Republic                1
India                         1
Suriname                      1
Name:  Company_Location, dtype: int64

In [52]:
df_cacao_cleaned.shape

(1795, 8)

# Exporting Data

In [55]:
df_cacao_cleaned.to_csv(os.path.join(path, '02. Prepared Data','df_cacao_cleaned.csv' ))